group4-power
[{"id":"6552be53.1c3908","type":"inject","z":"65fd6614.0ddc38","name":"Check Values","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":161,"y":88,"wires":[["1126c497.34afbb","d6bb658f.3b696","4a43dee0.0567c"]]},{"id":"1126c497.34afbb","type":"http request","z":"65fd6614.0ddc38","name":"analogvalue0","method":"GET","ret":"obj","url":"https://api.particle.io/v1/devices/28005c000e51353338363333/analogvalue0?access_token=aee33a86ac53c706be04fd028e68302344882205","tls":"","x":230.9999542236328,"y":153.8000030517578,"wires":[["896ba40.bb05ae","64a720cf.0b581"]]},{"id":"d6bb658f.3b696","type":"http request","z":"65fd6614.0ddc38","name":"analogvalue3","method":"GET","ret":"obj","url":"https://api.particle.io/v1/devices/28005c000e51353338363333/analogvalue3?access_token=aee33a86ac53c706be04fd028e68302344882205","tls":"","x":225.6999969482422,"y":207.39999389648438,"wires":[["7680ea6a.2bca0c"]]},{"id":"896ba40.bb05ae","type":"function","z":"65fd6614.0ddc38","name":"Get Voltage","func":"inmsg=msg;\nmsg.payload = Math.round(inmsg.payload.result/4096*3.3*10000)/10000;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":153.8000030517578,"wires":[["8eb6b066.63fa58","6b369d21.78efd4"]]},{"id":"7680ea6a.2bca0c","type":"function","z":"65fd6614.0ddc38","name":"Get Voltage","func":"inmsg=msg;\nif(isNaN(inmsg.payload.result)) {\n msg.payload = 0;\n}\nelse {\n \n msg.payload = inmsg.payload.result/4096*3.3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":397.70001220703125,"y":207.39999389648438,"wires":[["3389b9d.82137c6"]]},{"id":"8eb6b066.63fa58","type":"function","z":"65fd6614.0ddc38","name":"Battery Voltage","func":"voltage=msg.payload;\nBattery_Voltage = Math.round((10+22+22)/10*voltage*100)/100;\nmsg.payload = Battery_Voltage;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":154.1875,"wires":[["674f22ab.6d2d2c","3e9840a.28dab4","816ab4d7.799168"]]},{"id":"3389b9d.82137c6","type":"function","z":"65fd6614.0ddc38","name":"Voltage to Temperature","func":"voltage=msg.payload;\nvoltage = voltage-.058;\n\ntemperature = Math.round(voltage*10000)/10;\nmsg.payload = temperature;\nreturn msg;","outputs":1,"noerr":0,"x":608.7000122070312,"y":207.39999389648438,"wires":[[]]},{"id":"674f22ab.6d2d2c","type":"switch","z":"65fd6614.0ddc38","name":"Is Voltage Less than 10V","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":383.79998779296875,"wires":[["b51127a3.2781b8"],["2be1e76b.aeb11"]]},{"id":"b51127a3.2781b8","type":"switch","z":"65fd6614.0ddc38","name":"Already Sent Alert?","property":"Alert","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":446.9999694824219,"y":382.79998779296875,"wires":[["976362ae.d404c8"]]},{"id":"901e6862.2e4848","type":"inject","z":"65fd6614.0ddc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.99998474121094,"y":447.00001525878906,"wires":[["2be1e76b.aeb11"]]},{"id":"2be1e76b.aeb11","type":"function","z":"65fd6614.0ddc38","name":"Clear Alert","func":"clearTimeout();\nglobal.set(\"Alert\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450.70001220703125,"y":445.40003967285156,"wires":[[]]},{"id":"4a43dee0.0567c","type":"function","z":"65fd6614.0ddc38","name":"Alert Debug","func":"alert = global.get(\"Alert\");\nmsg.payload = \"Alert is set to \" + alert;\nreturn msg;","outputs":1,"noerr":0,"x":405.7000274658203,"y":87.39999389648438,"wires":[["64a720cf.0b581"]]},{"id":"3e9840a.28dab4","type":"ui_text","z":"65fd6614.0ddc38","tab":"4f7cd987.ff3038","name":"Battery Voltage:","group":"Battery Voltage","order":"2","format":"{{msg.payload}}","x":957,"y":139.4000244140625,"wires":[]},{"id":"6b369d21.78efd4","type":"ui_text","z":"65fd6614.0ddc38","tab":"4f7cd987.ff3038","name":"Sensed Voltage:","group":"Battery Voltage","order":"1","format":"{{msg.payload}}","x":961,"y":87.4000244140625,"wires":[]},{"id":"60e8d970.97f4d","type":"ui_text","z":"65fd6614.0ddc38","tab":"4f7cd987.ff3038","name":"Temperature (F):","group":"Battery Voltage","order":"2","format":"{{msg.payload}}","x":954,"y":204,"wires":[]},{"id":"a73ed0e3.d898c8","type":"ui_chart","z":"65fd6614.0ddc38","tab":"4f7cd987.ff3038","name":"Temperature History","group":"Temperature History","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":988.0000152587891,"y":276.00001525878906,"wires":[[],[]]},{"id":"816ab4d7.799168","type":"ui_gauge","z":"65fd6614.0ddc38","tab":"4f7cd987.ff3038","name":"Battery Gauge","group":"Battery","order":"3","format":"{{value}}","min":"9","max":"15","x":954,"y":32,"wires":[]},{"id":"976362ae.d404c8","type":"link out","z":"65fd6614.0ddc38","name":"Battery Low Alert","links":["6aa58a7b.f1103c"],"x":861.5000152587891,"y":379.59999084472656,"wires":[]},{"id":"64a720cf.0b581","type":"debug","z":"65fd6614.0ddc38","name":"","active":false,"console":"false","complete":"false","x":600.4999847412109,"y":70.98750305175781,"wires":[]},{"id":"4f7cd987.ff3038","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
