group3-waterMonitor
[{"id":"505c19c.3c8c368","type":"http request","z":"f70884ea.d44cf8","name":"send to web","method":"use","ret":"obj","url":"","tls":"","x":688.2000274658203,"y":138,"wires":[["b8c81c95.1e4aa","7a0d71e0.4cc078"]]},{"id":"990007f3.0ba0d8","type":"function","z":"f70884ea.d44cf8","name":"Measure Distance Command for Photon LAB4","func":"msg.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/measDist?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\nmsg.method = \"POST\";\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":438.2000274658203,"y":72,"wires":[["505c19c.3c8c368","c767534f.10dae8"]]},{"id":"c767534f.10dae8","type":"debug","z":"f70884ea.d44cf8","name":"","active":true,"console":"false","complete":"url","x":848.2000885009766,"y":90.39999389648438,"wires":[]},{"id":"27868e01.ce2882","type":"http request","z":"f70884ea.d44cf8","name":"inches","method":"use","ret":"obj","url":"","tls":"","x":491.2000274658203,"y":309.2000274658203,"wires":[["db4a6b04.c695e","ceb75b8f.0e663","315077de.63e6c8"]]},{"id":"a853f32.384749","type":"http request","z":"f70884ea.d44cf8","name":"centimeters","method":"use","ret":"obj","url":"","tls":"","x":485.2000274658203,"y":409.2000274658203,"wires":[["db4a6b04.c695e","4e80d52e.dd2fac"]]},{"id":"e1f3f50b.7f1ea8","type":"ui_text","z":"f70884ea.d44cf8","tab":"4f7cd987.ff3038","name":"Distance (in)","group":"Depth","order":"2","format":"{{msg.payload}}","x":779.5000152587891,"y":311.40003967285156,"wires":[]},{"id":"40441bc2.6c838c","type":"ui_text","z":"f70884ea.d44cf8","tab":"4f7cd987.ff3038","name":"Distance (cm)","group":"Depth","order":"3","format":"{{msg.payload}}","x":694.2000274658203,"y":407.2000274658203,"wires":[]},{"id":"db4a6b04.c695e","type":"debug","z":"f70884ea.d44cf8","name":"","active":true,"console":"false","complete":"false","x":702.5000152587891,"y":243,"wires":[]},{"id":"7a0d71e0.4cc078","type":"function","z":"f70884ea.d44cf8","name":"Set Cmd Message","func":"var p={};\np.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/inches?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\np.payload = \"\";\np.method = \"GET\";\nreturn p;","outputs":1,"noerr":0,"x":287.5000305175781,"y":327.8000030517578,"wires":[["27868e01.ce2882","23542327.40e274"]]},{"id":"23542327.40e274","type":"debug","z":"f70884ea.d44cf8","name":"","active":true,"console":"false","complete":"url","x":468.20001220703125,"y":261.20001220703125,"wires":[]},{"id":"b8c81c95.1e4aa","type":"debug","z":"f70884ea.d44cf8","name":"","active":true,"console":"false","complete":"false","x":885.2000122070312,"y":142.1999969482422,"wires":[]},{"id":"315077de.63e6c8","type":"function","z":"f70884ea.d44cf8","name":"Set Cmd Message","func":"var p={};\np.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/centimeters?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\np.payload = \"\";\np.method = \"GET\";\nreturn p;","outputs":1,"noerr":0,"x":281.20001220703125,"y":410.20001220703125,"wires":[["a853f32.384749","23542327.40e274"]]},{"id":"ceb75b8f.0e663","type":"function","z":"f70884ea.d44cf8","name":"","func":"msg.payload=Math.round(msg.payload.result*10)/10\nreturn msg;","outputs":1,"noerr":0,"x":613.4999847412109,"y":313.8000030517578,"wires":[["e1f3f50b.7f1ea8"]]},{"id":"4e80d52e.dd2fac","type":"function","z":"f70884ea.d44cf8","name":"","func":"msg.payload=Math.round(msg.payload.result*10)/10\nreturn msg;","outputs":1,"noerr":0,"x":618.2000122070312,"y":477.20001220703125,"wires":[["40441bc2.6c838c"]]},{"id":"49eb08ff.b777b","type":"ui_button","z":"f70884ea.d44cf8","tab":"4f7cd987.ff3038","name":"Measure Distance","payload":"","topic":"Measure Distance","group":"Depth","order":1,"x":117.5,"y":76.60000610351562,"wires":[["990007f3.0ba0d8","d3450235.c7206"]]},{"id":"d3450235.c7206","type":"function","z":"f70884ea.d44cf8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":328.1000152587891,"y":159,"wires":[["e1f3f50b.7f1ea8","40441bc2.6c838c"]]},{"id":"4f7cd987.ff3038","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
