group2-water.json
[{"id":"ea9fd7fb.7937d","type":"inject","z":"e0593129.ba6e","name":"","topic":"Turn On Light","payload":"N","payloadType":"str","repeat":"","crontab":"","once":false,"x":318,"y":299,"wires":[["b13395b8.07358"]]},{"id":"b13395b8.07358","type":"function","z":"e0593129.ba6e","name":"Light 0","func":"msg.payload=msg.payload + \":0\";\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":312.1999969482422,"wires":[["39732e8b.04a5a2","afc56df8.2f4b8"]]},{"id":"c9c3f083.a797f","type":"inject","z":"e0593129.ba6e","name":"","topic":"Turn Off Light","payload":"F","payloadType":"str","repeat":"","crontab":"","once":false,"x":329.70001220703125,"y":357.1999969482422,"wires":[["b13395b8.07358"]]},{"id":"b7bacc62.3dd9e","type":"http request","z":"e0593129.ba6e","name":"send to web","method":"use","ret":"obj","url":"","tls":"","x":942.0000152587891,"y":410.8000030517578,"wires":[["afc56df8.2f4b8"]]},{"id":"39732e8b.04a5a2","type":"function","z":"e0593129.ba6e","name":"Build Command for Photon LAB2","func":"msg.url = \"https://api.particle.io/v1/devices/28005c000e51353338363333/led?access_token=aee33a86ac53c706be04fd028e68302344882205\";\nmsg.method = \"POST\";\nmsg.payload={\"arg\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":669,"y":417.79998779296875,"wires":[["b7bacc62.3dd9e","afc56df8.2f4b8"]]},{"id":"afc56df8.2f4b8","type":"debug","z":"e0593129.ba6e","name":"","active":true,"console":"false","complete":"false","x":1039.0000915527344,"y":307.1999969482422,"wires":[]},{"id":"b3783861.febf7","type":"inject","z":"e0593129.ba6e","name":"","topic":"Turn On Light","payload":"N","payloadType":"str","repeat":"","crontab":"","once":false,"x":322.7000427246094,"y":579.2000122070312,"wires":[["1fffaad6.614665"]]},{"id":"1fffaad6.614665","type":"function","z":"e0593129.ba6e","name":"Light 1","func":"msg.payload=msg.payload + \":1\";\nreturn msg;","outputs":1,"noerr":0,"x":516.7000427246094,"y":592.4000091552734,"wires":[["39732e8b.04a5a2"]]},{"id":"3a9fa9ca.9db5c6","type":"inject","z":"e0593129.ba6e","name":"","topic":"Turn Off Light","payload":"F","payloadType":"str","repeat":"","crontab":"","once":false,"x":334.4000549316406,"y":637.4000091552734,"wires":[["1fffaad6.614665"]]},{"id":"85316c1b.dba6b8","type":"ui_button","z":"e0593129.ba6e","tab":"928aa331.8755d","name":"Light 1 On","payload":"N","topic":"On","group":"LAB Light","order":1,"x":345.0000305175781,"y":261,"wires":[["b13395b8.07358"]]},{"id":"712130cf.014ea","type":"ui_button","z":"e0593129.ba6e","tab":"928aa331.8755d","name":"Light 1 Off","payload":"F","topic":"On","group":"LAB Light","order":1,"x":346.70001220703125,"y":407.1999969482422,"wires":[["b13395b8.07358"]]},{"id":"f8484ae4.5d08e8","type":"ui_button","z":"e0593129.ba6e","tab":"928aa331.8755d","name":"Light 2 On","payload":"N","topic":"On","group":"LAB Light","order":1,"x":312.70001220703125,"y":513.2000274658203,"wires":[["1fffaad6.614665"]]},{"id":"1c486133.d4d67f","type":"ui_button","z":"e0593129.ba6e","tab":"928aa331.8755d","name":"Light 2 Off","payload":"F","topic":"On","group":"LAB Light","order":1,"x":338.70001220703125,"y":694.2000122070312,"wires":[["1fffaad6.614665"]]},{"id":"928aa331.8755d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
