group5-camera
[{"id":"69bc133f.b555cc","type":"ui_template","z":"c88291c4.3b976","tab":"4f7cd987.ff3038","name":"Live Picture","group":"Live Picture","order":1,"format":"\n<img src={{msg.payload}}\n width='290' \n height='220' \n id='img'\n alt={{msg.payload}}\n>\n\n","storeOutMessages":true,"fwdInMessages":true,"x":723.5000152587891,"y":41.19999694824219,"wires":[[]]},{"id":"9b188cea.ab9b3","type":"inject","z":"c88291c4.3b976","name":"Take Picture every ? seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":169,"y":44,"wires":[["53faf223.8c0384"]]},{"id":"53faf223.8c0384","type":"function","z":"c88291c4.3b976","name":"build address","func":"var address = global.get(\"PiNodeRedAddress\");\nmsg.payload= address+\"/smallimg.jpg?t=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":456.0000457763672,"y":38,"wires":[["69bc133f.b555cc"]]},{"id":"2d4016d6.572c32","type":"inject","z":"c88291c4.3b976","name":"Take Large Picture every ? minutes","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":182.00001525878906,"y":163,"wires":[[]]},{"id":"8267ef2.42d3e1","type":"function","z":"c88291c4.3b976","name":"Set Global Vars","func":"global.set(\"PiNodeRedAddress\",\"http://24.159.216.77:1880\");\nglobal.set(\"PictureDirectory\",\"/home/pi/Desktop/timelapse\");\nglobal.set(\"imagenumber\",0);\nreturn msg;","outputs":1,"noerr":0,"x":417.50006103515625,"y":374.00010681152344,"wires":[[]]},{"id":"8462e171.6fbcb","type":"inject","z":"c88291c4.3b976","name":"StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87.5,"y":430.8000183105469,"wires":[["8267ef2.42d3e1"]]},{"id":"14df6709.7aaf79","type":"function","z":"c88291c4.3b976","name":"build address","func":"var address = global.get(\"PiNodeRedAddress\");\nmsg.url = address+\"/largeimg?t=\"+msg.payload;\nmsg.method = 'GET';\nmsg.savetime = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":459.2000274658203,"y":161.1999969482422,"wires":[["47a1e2c4.0369b4"]]},{"id":"47a1e2c4.0369b4","type":"http request","z":"c88291c4.3b976","name":"Take Large Picture","method":"use","ret":"bin","url":"","tls":"","x":655.5000152587891,"y":152,"wires":[["c56d823e.a774d"]]},{"id":"b0b55c01.8c02f8","type":"file","z":"c88291c4.3b976","name":"Save Image","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1100.5,"y":148.1999969482422,"wires":[]},{"id":"c56d823e.a774d","type":"function","z":"c88291c4.3b976","name":"build filename","func":"var dir = global.get(\"PictureDirectory\");\nvar imagenumber = global.get(\"imagenumber\");\nmsg.filename = dir + \"/image\" + imagenumber +\".jpg\";\nglobal.set(\"imagenumber\",imagenumber+1);\nreturn msg;","outputs":1,"noerr":0,"x":879.2000122070312,"y":145.1999969482422,"wires":[["b0b55c01.8c02f8"]]},{"id":"1704c583.1ddf22","type":"catch","z":"c88291c4.3b976","name":"Catch Save Fail","scope":["b0b55c01.8c02f8"],"x":1124.5000610351562,"y":55.4000244140625,"wires":[["73c18dd7.79be84"]]},{"id":"73c18dd7.79be84","type":"link out","z":"c88291c4.3b976","name":"Faile Save Alert","links":["9c95aa3d.4601c"],"x":1541.9000854492188,"y":58.599998474121094,"wires":[]},{"id":"8bec9755.6491d","type":"exec","z":"c88291c4.3b976","command":"gst-launch-1.0","addpay":false,"append":" multifilesrc location=/home/pi/Desktop/timelapse/image%d.jpg caps=\"image/jpeg,framerate=24/1\" ! jpegdec ! omxh264enc ! avimux ! filesink location=/home/pi/Desktop/timelapse.avi","useSpawn":"","timer":"","name":"Build /home/pi/Desktop/timelapse.avi","x":392.50006103515625,"y":280.90003967285156,"wires":[["84a9c5af.05ac5"],[],[]]},{"id":"84a9c5af.05ac5","type":"file in","z":"c88291c4.3b976","name":"Get timelapse.avi","filename":"/home/pi/Desktop/timelapse.avi","format":"","x":759.4999847412109,"y":268.40000915527344,"wires":[["4183c74c.1aa31"]]},{"id":"4183c74c.1aa31","type":"http response","z":"c88291c4.3b976","name":"","x":972.5000457763672,"y":279.8000030517578,"wires":[]},{"id":"6249beac.f3bce","type":"http in","z":"c88291c4.3b976","name":"TimeLapse","url":"/timelapse.avi","method":"get","swaggerDoc":"","x":95.5,"y":289.00001525878906,"wires":[["8bec9755.6491d"]]},{"id":"3f873ea1.0ffd6a","type":"exec","z":"c88291c4.3b976","command":"rm /home/pi/Desktop/timelapse/image*.jpg","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":530.5000305175781,"y":455.7000274658203,"wires":[[],[],[]]},{"id":"f35a40f1.7931f8","type":"exec","z":"c88291c4.3b976","command":"rm /home/pi/Desktop/timelapse.avi","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":553.2000274658203,"y":516.2000274658203,"wires":[[],[],[]]},{"id":"81b92998.42dbf","type":"inject","z":"c88291c4.3b976","name":"CleanUpTimeLapse","topic":"Reset Timelapse","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.1999969482422,"y":496.20001220703125,"wires":[["3f873ea1.0ffd6a","f35a40f1.7931f8","8267ef2.42d3e1"]]},{"id":"4cef1e7b.cd123","type":"ui_button","z":"c88291c4.3b976","tab":"4f7cd987.ff3038","name":"Reset Timelapse Videos","payload":"doesn't matter","topic":"?","group":"Live Picture","order":"2","x":216.875,"y":605.9999656677246,"wires":[["f35a40f1.7931f8","3f873ea1.0ffd6a","8267ef2.42d3e1"]]},{"id":"4f7cd987.ff3038","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
