noderedcode.json
[{"id":"5171000b.b591a","type":"tab","label":"Lights Set Time"},{"id":"cf00bd5d.2374","type":"tab","label":"Lights Check Time"},{"id":"a9fcf2f7.23a0a","type":"tab","label":"Sensors"},{"id":"a3ad8ee8.1b5b1","type":"tab","label":"Camera Control"},{"id":"1c8a1ace.0038a5","type":"tab","label":"Alerts"},{"id":"5c3f3236.84b3ec","type":"tab","label":"Lab Lights"},{"id":"c7c5c86e.8e31a8","type":"tab","label":"Measure Distance"},{"id":"75e46010.5a2d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"86bcbc03.88b9b","type":"ui_tab","z":"","name":"Lights","icon":"dashboard","order":"1"},{"id":"2c9e9112.2bc23e","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"hour","group":"Light 2","order":"2","format":"{{value}}","min":0,"max":"23","x":638.9857559204102,"y":65.61428451538086,"wires":[["d55f2796.9cad08"]]},{"id":"f2279d8e.8690a","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light 2","group":"Light 2","order":"3","format":"{{value}}","min":0,"max":"59","x":645.6857681274414,"y":114.01430892944336,"wires":[["79390b2c.b4bbd4"]]},{"id":"d55f2796.9cad08","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartHourGlobal2\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":961.9857406616211,"y":65.21430587768555,"wires":[[]]},{"id":"79390b2c.b4bbd4","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartMinGlobal2\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":958.8857803344727,"y":112.01430892944336,"wires":[[]]},{"id":"f36c15e9.783a58","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"LightffnHour","group":"Light 1","order":"5","format":"{{value}}","min":0,"max":"23","x":153.79286193847656,"y":277.89999866485596,"wires":[["3c07ab2f.73b854"]]},{"id":"aa44682c.da76d8","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light2","group":"Light 1","order":"6","format":"{{value}}","min":0,"max":"59","x":158.70714569091797,"y":307.55001974105835,"wires":[["5c8d275b.78c398"]]},{"id":"3c07ab2f.73b854","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopHourGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":352.6856994628906,"y":277.85716581344604,"wires":[[]]},{"id":"5c8d275b.78c398","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopMinGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":362.1571807861328,"y":312.80003356933594,"wires":[[]]},{"id":"43734427.85e64c","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"LightOnHour","group":"Light 3","order":"2","format":"{{value}}","min":0,"max":"23","x":124.12855529785156,"y":534.0571851730347,"wires":[["5c6a9ff5.9a422"]]},{"id":"9c607f71.b6999","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light 3","group":"Light 3","order":"3","format":"{{value}}","min":0,"max":"59","x":130.8285675048828,"y":582.4572095870972,"wires":[["2fa9c8a5.bd6498"]]},{"id":"5c6a9ff5.9a422","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartHourGlobal3\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":447.1285400390625,"y":533.6572065353394,"wires":[[]]},{"id":"2fa9c8a5.bd6498","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartMinGlobal3\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":444.02857971191406,"y":580.4572095870972,"wires":[[]]},{"id":"d1a20a05.0e5d98","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"Light 4","group":"Light 4","order":"2","format":"{{value}}","min":0,"max":"23","x":831.0215148925781,"y":531.3071563243866,"wires":[["f914cfb5.6aafe"]]},{"id":"df24d87e.0ce688","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light 4","group":"Light 4","order":"3","format":"{{value}}","min":0,"max":"59","x":837.7215270996094,"y":579.7071807384491,"wires":[["e2e3789c.756348"]]},{"id":"f914cfb5.6aafe","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartHourGlobal4\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1154.021499633789,"y":530.9071776866913,"wires":[[]]},{"id":"e2e3789c.756348","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartMinGlobal4\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1150.9215393066406,"y":577.7071807384491,"wires":[[]]},{"id":"988531ef.e3fef","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":" hours","topic":"LightOnHour","group":"Light 1","order":"2","format":"{{value}}","min":0,"max":"23","x":137.6285629272461,"y":96.6285753250122,"wires":[["5efa00c5.13bf5"]]},{"id":"19cb3911.7421c7","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"     minutes","topic":"Light2","group":"Light 1","order":"3","format":"{{value}}","min":0,"max":"59","x":145.57857513427734,"y":145.02859687805176,"wires":[["9aff1867.5f7098"]]},{"id":"5efa00c5.13bf5","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartHourGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":350.6285400390625,"y":101.2285966873169,"wires":[[]]},{"id":"9aff1867.5f7098","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartMinGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":347.52857971191406,"y":148.0285997390747,"wires":[[]]},{"id":"587293c4.6e7cec","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"Light 2","group":"Light 2","order":"5","format":"{{value}}","min":0,"max":"23","x":665.2499847412109,"y":241.67858123779297,"wires":[["9b736c48.71701"]]},{"id":"1432b6b3.26efc9","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light 2","group":"Light 2","order":"6","format":"{{value}}","min":0,"max":"59","x":671.9499969482422,"y":290.07860565185547,"wires":[["5580b760.408258"]]},{"id":"9b736c48.71701","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopHourGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":988.2499694824219,"y":241.27860260009766,"wires":[[]]},{"id":"5580b760.408258","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopMinGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":985.1500091552734,"y":288.07860565185547,"wires":[[]]},{"id":"2fdea8a9.37d4b8","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"LightffnHour","group":"Light 4","order":"5","format":"{{value}}","min":0,"max":"23","x":834.5358047485352,"y":678.6428763866425,"wires":[["7ea428b3.03ee48"]]},{"id":"18a4e287.89b14d","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"minutes","topic":"Light 4","group":"Light 4","order":"6","format":"{{value}}","min":0,"max":"59","x":841.2358169555664,"y":727.042900800705,"wires":[["9113a9b0.a8c5e8"]]},{"id":"7ea428b3.03ee48","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopHourGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1157.535789489746,"y":678.2428977489471,"wires":[[]]},{"id":"9113a9b0.a8c5e8","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopMinGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1154.4358291625977,"y":725.042900800705,"wires":[[]]},{"id":"fb6ff3b6.983b3","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"hours","topic":"Light 3","group":"Light 3","order":"5","format":"{{value}}","min":0,"max":"23","x":138.46429443359375,"y":701.5000190734863,"wires":[["4a8fecd3.7fc154"]]},{"id":"dbe720e2.2e2c1","type":"ui_numeric","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn Lights off At (mins)","topic":"Light 3","group":"Light 3","order":"6","format":"{{value}}","min":0,"max":"59","x":195.164306640625,"y":749.9000434875488,"wires":[["6c9d7ffb.f9182"]]},{"id":"4a8fecd3.7fc154","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopHourGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":461.4642791748047,"y":701.100040435791,"wires":[[]]},{"id":"6c9d7ffb.f9182","type":"function","z":"5171000b.b591a","name":"MakeStartMinGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StopMinGlobal1\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":458.36431884765625,"y":747.9000434875488,"wires":[[]]},{"id":"2cdc717b.1d641e","type":"inject","z":"a9fcf2f7.23a0a","name":"Check Values","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":161,"y":88,"wires":[["6586b216.7fa31c","6900f79a.a9eaf8","1b4602e0.649c8d"]]},{"id":"6586b216.7fa31c","type":"http request","z":"a9fcf2f7.23a0a","name":"analogvalue0","method":"GET","ret":"obj","url":"https://api.particle.io/v1/devices/28005c000e51353338363333/analogvalue0?access_token=aee33a86ac53c706be04fd028e68302344882205","tls":"","x":230.9999542236328,"y":153.8000030517578,"wires":[["f57af21e.2008c","b58b33fa.330af"]]},{"id":"6900f79a.a9eaf8","type":"http request","z":"a9fcf2f7.23a0a","name":"analogvalue3","method":"GET","ret":"obj","url":"https://api.particle.io/v1/devices/28005c000e51353338363333/analogvalue3?access_token=aee33a86ac53c706be04fd028e68302344882205","tls":"","x":225.6999969482422,"y":207.39999389648438,"wires":[["1660f2f3.6d04ed"]]},{"id":"f57af21e.2008c","type":"function","z":"a9fcf2f7.23a0a","name":"Get Voltage","func":"inmsg=msg;\nmsg.payload = Math.round(inmsg.payload.result/4096*3.3*10000)/10000;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":153.8000030517578,"wires":[["b868d214.61643","5a1439e3.aa8958"]]},{"id":"1660f2f3.6d04ed","type":"function","z":"a9fcf2f7.23a0a","name":"Get Voltage","func":"inmsg=msg;\nif(isNaN(inmsg.payload.result)) {\n  msg.payload = 0;\n}\nelse {\n   \n   msg.payload = inmsg.payload.result/4096*3.3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":397.70001220703125,"y":207.39999389648438,"wires":[["dd120a71.4ff468"]]},{"id":"b868d214.61643","type":"function","z":"a9fcf2f7.23a0a","name":"Battery Voltage","func":"voltage=msg.payload;\nBattery_Voltage = Math.round((10+22+22)/10*voltage*100)/100;\nmsg.payload = Battery_Voltage;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":154.1875,"wires":[["6dcde376.11300c","86740807.dd6038","84fbb60.beedf48"]]},{"id":"dd120a71.4ff468","type":"function","z":"a9fcf2f7.23a0a","name":"Voltage to Temperature","func":"voltage=msg.payload;\nvoltage = voltage-.058;\n\ntemperature = Math.round(voltage*10000)/10;\nmsg.payload = temperature;\nreturn msg;","outputs":1,"noerr":0,"x":608.7000122070312,"y":207.39999389648438,"wires":[["b218bc27.88bd1"]]},{"id":"6dcde376.11300c","type":"switch","z":"a9fcf2f7.23a0a","name":"Is Voltage Less than 10V","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":383.79998779296875,"wires":[["ab1dc745.c90f78"],["92bcfcbe.42bcf"]]},{"id":"ab1dc745.c90f78","type":"switch","z":"a9fcf2f7.23a0a","name":"Already Sent Alert?","property":"Alert","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":446.9999694824219,"y":382.79998779296875,"wires":[["e686f543.48ef08"]]},{"id":"da9f1146.f3a7a","type":"inject","z":"a9fcf2f7.23a0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.99998474121094,"y":447.00001525878906,"wires":[["92bcfcbe.42bcf"]]},{"id":"92bcfcbe.42bcf","type":"function","z":"a9fcf2f7.23a0a","name":"Clear Alert","func":"clearTimeout();\nglobal.set(\"Alert\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450.70001220703125,"y":445.40003967285156,"wires":[[]]},{"id":"1b4602e0.649c8d","type":"function","z":"a9fcf2f7.23a0a","name":"Alert Debug","func":"alert = global.get(\"Alert\");\nmsg.payload = \"Alert is set to \" + alert;\nreturn msg;","outputs":1,"noerr":0,"x":405.7000274658203,"y":87.39999389648438,"wires":[["b58b33fa.330af"]]},{"id":"86740807.dd6038","type":"ui_text","z":"a9fcf2f7.23a0a","tab":"75e46010.5a2d3","name":"Battery Voltage:","group":"Battery Voltage","order":"2","format":"{{msg.payload}}","x":957,"y":139.4000244140625,"wires":[]},{"id":"5a1439e3.aa8958","type":"ui_text","z":"a9fcf2f7.23a0a","tab":"75e46010.5a2d3","name":"Sensed Voltage:","group":"Battery Voltage","order":"1","format":"{{msg.payload}}","x":961,"y":87.4000244140625,"wires":[]},{"id":"68345d33.59be54","type":"ui_text","z":"a9fcf2f7.23a0a","tab":"75e46010.5a2d3","name":"Temperature (F):","group":"Battery Voltage","order":"2","format":"{{msg.payload}}","x":954,"y":204,"wires":[]},{"id":"e196e89b.400d18","type":"ui_chart","z":"a9fcf2f7.23a0a","tab":"75e46010.5a2d3","name":"Temperature History","group":"Temperature History","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":988.0000152587891,"y":276.00001525878906,"wires":[[],[]]},{"id":"84fbb60.beedf48","type":"ui_gauge","z":"a9fcf2f7.23a0a","tab":"75e46010.5a2d3","name":"Battery Gauge","group":"Battery","order":"3","format":"{{value}}","min":"9","max":"15","x":954,"y":32,"wires":[]},{"id":"bfaefeb3.7066e","type":"ui_template","z":"a3ad8ee8.1b5b1","tab":"75e46010.5a2d3","name":"Live Picture","group":"Live Picture","order":1,"format":"\n<img src={{msg.payload}}\n    width='290' \n    height='220' \n    id='img'\n    alt={{msg.payload}}\n>\n\n","storeOutMessages":true,"fwdInMessages":true,"x":723.5000152587891,"y":41.19999694824219,"wires":[[]]},{"id":"be3163fd.de7af","type":"inject","z":"a3ad8ee8.1b5b1","name":"Take Picture every ? seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":169,"y":44,"wires":[["60908a4c.b84144"]]},{"id":"60908a4c.b84144","type":"function","z":"a3ad8ee8.1b5b1","name":"build address","func":"var address = global.get(\"PiNodeRedAddress\");\nmsg.payload= address+\"/smallimg.jpg?t=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":456.0000457763672,"y":38,"wires":[["bfaefeb3.7066e"]]},{"id":"119d289e.f22807","type":"inject","z":"a3ad8ee8.1b5b1","name":"Take Large Picture every ? minutes","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":182.00001525878906,"y":163,"wires":[[]]},{"id":"c97869b7.691068","type":"function","z":"a3ad8ee8.1b5b1","name":"Set Global Vars","func":"global.set(\"PiNodeRedAddress\",\"http://24.159.216.77:1880\");\nglobal.set(\"PictureDirectory\",\"/home/pi/Desktop/timelapse\");\nglobal.set(\"imagenumber\",0);\nreturn msg;","outputs":1,"noerr":0,"x":417.50006103515625,"y":374.00010681152344,"wires":[[]]},{"id":"b2f0ae07.a4599","type":"inject","z":"a3ad8ee8.1b5b1","name":"StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87.5,"y":430.8000183105469,"wires":[["c97869b7.691068"]]},{"id":"1ef844b5.65f8eb","type":"function","z":"a3ad8ee8.1b5b1","name":"build address","func":"var address = global.get(\"PiNodeRedAddress\");\nmsg.url = address+\"/largeimg?t=\"+msg.payload;\nmsg.method = 'GET';\nmsg.savetime = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":459.2000274658203,"y":161.1999969482422,"wires":[["a6dc8484.6c9458"]]},{"id":"a6dc8484.6c9458","type":"http request","z":"a3ad8ee8.1b5b1","name":"Take Large Picture","method":"use","ret":"bin","url":"","tls":"","x":655.5000152587891,"y":152,"wires":[["9f19567c.4be738"]]},{"id":"83faea47.ac0a88","type":"file","z":"a3ad8ee8.1b5b1","name":"Save Image","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1100.5,"y":148.1999969482422,"wires":[]},{"id":"9f19567c.4be738","type":"function","z":"a3ad8ee8.1b5b1","name":"build filename","func":"var dir = global.get(\"PictureDirectory\");\nvar imagenumber  = global.get(\"imagenumber\");\nmsg.filename = dir + \"/image\" + imagenumber +\".jpg\";\nglobal.set(\"imagenumber\",imagenumber+1);\nreturn msg;","outputs":1,"noerr":0,"x":879.2000122070312,"y":145.1999969482422,"wires":[["83faea47.ac0a88"]]},{"id":"671b828d.d92bbc","type":"catch","z":"a3ad8ee8.1b5b1","name":"Catch Save Fail","scope":["83faea47.ac0a88"],"x":1124.5000610351562,"y":55.4000244140625,"wires":[["7703e0ae.377bc"]]},{"id":"7703e0ae.377bc","type":"link out","z":"a3ad8ee8.1b5b1","name":"Faile Save Alert","links":["1b55bc36.0b6054"],"x":1541.9000854492188,"y":58.599998474121094,"wires":[]},{"id":"1b55bc36.0b6054","type":"link in","z":"1c8a1ace.0038a5","name":"Fail Save Alert","links":["7703e0ae.377bc"],"x":183.50001525878906,"y":183.60000610351562,"wires":[["fd67dd62.30389"]]},{"id":"5bc932a8.92c06c","type":"e-mail","z":"1c8a1ace.0038a5","server":"smtp.gmail.com","port":"465","name":"alanpwagstaff@gmail.com","dname":"Send Alan E-mail","x":648.2000274658203,"y":180.20001220703125,"wires":[]},{"id":"e686f543.48ef08","type":"link out","z":"a9fcf2f7.23a0a","name":"Battery Low Alert","links":["247153fa.a4073c"],"x":861.5000152587891,"y":379.59999084472656,"wires":[]},{"id":"42229989.b307e8","type":"exec","z":"a3ad8ee8.1b5b1","command":"gst-launch-1.0","addpay":false,"append":" multifilesrc location=/home/pi/Desktop/timelapse/image%d.jpg caps=\"image/jpeg,framerate=24/1\" ! jpegdec ! omxh264enc ! avimux ! filesink location=/home/pi/Desktop/timelapse.avi","useSpawn":"","timer":"","name":"Build /home/pi/Desktop/timelapse.avi","x":392.50006103515625,"y":280.90003967285156,"wires":[["f55596ca.d7efe8"],[],[]]},{"id":"f55596ca.d7efe8","type":"file in","z":"a3ad8ee8.1b5b1","name":"Get timelapse.avi","filename":"/home/pi/Desktop/timelapse.avi","format":"","x":759.4999847412109,"y":268.40000915527344,"wires":[["fd668f90.eeb4b"]]},{"id":"fd668f90.eeb4b","type":"http response","z":"a3ad8ee8.1b5b1","name":"","x":972.5000457763672,"y":279.8000030517578,"wires":[]},{"id":"2d885fb4.2a2ea","type":"http in","z":"a3ad8ee8.1b5b1","name":"TimeLapse","url":"/timelapse.avi","method":"get","swaggerDoc":"","x":95.5,"y":289.00001525878906,"wires":[["42229989.b307e8"]]},{"id":"b6b6ef36.80ca","type":"function","z":"1c8a1ace.0038a5","name":"Battery Voltage","func":"msg.payload = \"Battery Voltage is Below 12.96\\nGot Voltage of \" + msg.payload;\nmsg.topic = \"Notice Low Battery on Grow Cart\";\n\nglobal.set(\"Alert\",1);\nreturn msg;","outputs":1,"noerr":0,"x":374.2000274658203,"y":265.2000274658203,"wires":[["5bc932a8.92c06c"]]},{"id":"247153fa.a4073c","type":"link in","z":"1c8a1ace.0038a5","name":"Fail Save Alert","links":["e686f543.48ef08"],"x":178.1999969482422,"y":265.20001220703125,"wires":[["b6b6ef36.80ca"]]},{"id":"fd67dd62.30389","type":"function","z":"1c8a1ace.0038a5","name":"Out Of Space","func":"msg.payload = \"Unable to save file due to low storage on grow cart\";\nmsg.topic = \"Notice no storage on Grow Cart\";\n\nglobal.set(\"StorageAlert\",1);\nreturn msg;","outputs":1,"noerr":0,"x":360.20001220703125,"y":184.1999969482422,"wires":[["5bc932a8.92c06c"]]},{"id":"b218bc27.88bd1","type":"smooth","z":"a9fcf2f7.23a0a","name":"Smooth the temperature reporting","action":"mean","count":"12","round":"1","x":646.5000152587891,"y":290.00013732910156,"wires":[["e196e89b.400d18","68345d33.59be54"]]},{"id":"b58b33fa.330af","type":"debug","z":"a9fcf2f7.23a0a","name":"","active":false,"console":"false","complete":"false","x":600.4999847412109,"y":70.98750305175781,"wires":[]},{"id":"2f2735d4.45d27a","type":"exec","z":"a3ad8ee8.1b5b1","command":"rm /home/pi/Desktop/timelapse/image*.jpg","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":530.5000305175781,"y":455.7000274658203,"wires":[[],[],[]]},{"id":"adc9796d.1b5f78","type":"exec","z":"a3ad8ee8.1b5b1","command":"rm /home/pi/Desktop/timelapse.avi","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":553.2000274658203,"y":516.2000274658203,"wires":[[],[],[]]},{"id":"af24d629.1a9638","type":"inject","z":"a3ad8ee8.1b5b1","name":"CleanUpTimeLapse","topic":"Reset Timelapse","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.1999969482422,"y":496.20001220703125,"wires":[["2f2735d4.45d27a","adc9796d.1b5f78","c97869b7.691068"]]},{"id":"5d78596b.e62d78","type":"inject","z":"5c3f3236.84b3ec","name":"","topic":"Turn On Light","payload":"N","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.49998474121094,"y":61,"wires":[["94f2df39.6a32"]]},{"id":"94f2df39.6a32","type":"function","z":"5c3f3236.84b3ec","name":"Light 0","func":"msg.payload=msg.payload + \":0\";\nreturn msg;","outputs":1,"noerr":0,"x":337.49998474121094,"y":74.19999694824219,"wires":[["91e080c1.36e51","dd143e7d.19aac"]]},{"id":"dce494bf.42d7b8","type":"inject","z":"5c3f3236.84b3ec","name":"","topic":"Turn Off Light","payload":"F","payloadType":"str","repeat":"","crontab":"","once":false,"x":155.1999969482422,"y":119.19999694824219,"wires":[["94f2df39.6a32"]]},{"id":"c495a8b0.035ff8","type":"ui_button","z":"a3ad8ee8.1b5b1","tab":"75e46010.5a2d3","name":"Reset Timelapse Videos","payload":"doesn't matter","topic":"?","group":"Live Picture","order":"2","x":216.875,"y":605.9999656677246,"wires":[["adc9796d.1b5f78","2f2735d4.45d27a","c97869b7.691068"]]},{"id":"73a2aef0.27874","type":"http request","z":"5c3f3236.84b3ec","name":"send to web","method":"use","ret":"obj","url":"","tls":"","x":767.5,"y":172.8000030517578,"wires":[["dd143e7d.19aac"]]},{"id":"91e080c1.36e51","type":"function","z":"5c3f3236.84b3ec","name":"Build Command for Photon LAB2","func":"msg.url = \"https://api.particle.io/v1/devices/28005c000e51353338363333/led?access_token=aee33a86ac53c706be04fd028e68302344882205\";\nmsg.method = \"POST\";\nmsg.payload={\"arg\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":494.5,"y":176.8000030517578,"wires":[["73a2aef0.27874","dd143e7d.19aac"]]},{"id":"dd143e7d.19aac","type":"debug","z":"5c3f3236.84b3ec","name":"","active":true,"console":"false","complete":"false","x":864.5000762939453,"y":69.19999694824219,"wires":[]},{"id":"15337d67.f77713","type":"inject","z":"5c3f3236.84b3ec","name":"","topic":"Turn On Light","payload":"N","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.2000274658203,"y":341.20001220703125,"wires":[["f181f12a.a1b1b"]]},{"id":"f181f12a.a1b1b","type":"function","z":"5c3f3236.84b3ec","name":"Light 1","func":"msg.payload=msg.payload + \":1\";\nreturn msg;","outputs":1,"noerr":0,"x":342.2000274658203,"y":354.40000915527344,"wires":[["91e080c1.36e51"]]},{"id":"db8169fe.059008","type":"inject","z":"5c3f3236.84b3ec","name":"","topic":"Turn Off Light","payload":"F","payloadType":"str","repeat":"","crontab":"","once":false,"x":159.90003967285156,"y":399.40000915527344,"wires":[["f181f12a.a1b1b"]]},{"id":"f3d77610.0ce0d8","type":"http request","z":"c7c5c86e.8e31a8","name":"send to web","method":"use","ret":"obj","url":"","tls":"","x":688.2000274658203,"y":138,"wires":[["57d78fb4.d15ba","9305989a.b47908"]]},{"id":"96b3d904.9adce8","type":"function","z":"c7c5c86e.8e31a8","name":"Measure Distance Command for Photon LAB4","func":"msg.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/measDist?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\nmsg.method = \"POST\";\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":438.2000274658203,"y":72,"wires":[["f3d77610.0ce0d8","55a8731c.61d77c"]]},{"id":"55a8731c.61d77c","type":"debug","z":"c7c5c86e.8e31a8","name":"","active":true,"console":"false","complete":"url","x":848.2000885009766,"y":90.39999389648438,"wires":[]},{"id":"12017d5a.b93873","type":"http request","z":"c7c5c86e.8e31a8","name":"inches","method":"use","ret":"obj","url":"","tls":"","x":491.2000274658203,"y":309.2000274658203,"wires":[["52fa7083.d9be9","3c2adfaf.5554c","6ad22164.3b5"]]},{"id":"6c20be5d.a4af3","type":"http request","z":"c7c5c86e.8e31a8","name":"centimeters","method":"use","ret":"obj","url":"","tls":"","x":485.2000274658203,"y":409.2000274658203,"wires":[["52fa7083.d9be9","630512de.57af1c"]]},{"id":"8fc89c6d.0a1fd","type":"ui_text","z":"c7c5c86e.8e31a8","tab":"75e46010.5a2d3","name":"Distance (in)","group":"Depth","order":"2","format":"{{msg.payload}}","x":779.5000152587891,"y":311.40003967285156,"wires":[]},{"id":"c91e2ab.0fef4d8","type":"ui_text","z":"c7c5c86e.8e31a8","tab":"75e46010.5a2d3","name":"Distance (cm)","group":"Depth","order":"3","format":"{{msg.payload}}","x":694.2000274658203,"y":407.2000274658203,"wires":[]},{"id":"52fa7083.d9be9","type":"debug","z":"c7c5c86e.8e31a8","name":"","active":true,"console":"false","complete":"false","x":702.5000152587891,"y":243,"wires":[]},{"id":"9305989a.b47908","type":"function","z":"c7c5c86e.8e31a8","name":"Set Cmd Message","func":"var p={};\np.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/inches?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\np.payload = \"\";\np.method = \"GET\";\nreturn p;","outputs":1,"noerr":0,"x":287.5000305175781,"y":327.8000030517578,"wires":[["12017d5a.b93873","98befbb2.5f9c58"]]},{"id":"98befbb2.5f9c58","type":"debug","z":"c7c5c86e.8e31a8","name":"","active":true,"console":"false","complete":"url","x":468.20001220703125,"y":261.20001220703125,"wires":[]},{"id":"57d78fb4.d15ba","type":"debug","z":"c7c5c86e.8e31a8","name":"","active":true,"console":"false","complete":"false","x":885.2000122070312,"y":142.1999969482422,"wires":[]},{"id":"6ad22164.3b5","type":"function","z":"c7c5c86e.8e31a8","name":"Set Cmd Message","func":"var p={};\np.url = \"https://api.particle.io/v1/devices/2f0017001247333438373833/centimeters?access_token=a173d9e1726e2a9f5ebaf221ffe82f25682dbb80\";\np.payload = \"\";\np.method = \"GET\";\nreturn p;","outputs":1,"noerr":0,"x":281.20001220703125,"y":410.20001220703125,"wires":[["6c20be5d.a4af3","98befbb2.5f9c58"]]},{"id":"3c2adfaf.5554c","type":"function","z":"c7c5c86e.8e31a8","name":"","func":"msg.payload=Math.round(msg.payload.result*10)/10\nreturn msg;","outputs":1,"noerr":0,"x":613.4999847412109,"y":313.8000030517578,"wires":[["8fc89c6d.0a1fd"]]},{"id":"630512de.57af1c","type":"function","z":"c7c5c86e.8e31a8","name":"","func":"msg.payload=Math.round(msg.payload.result*10)/10\nreturn msg;","outputs":1,"noerr":0,"x":618.2000122070312,"y":477.20001220703125,"wires":[["c91e2ab.0fef4d8"]]},{"id":"7bd49ecf.0b95c","type":"ui_button","z":"c7c5c86e.8e31a8","tab":"75e46010.5a2d3","name":"Measure Distance","payload":"","topic":"Measure Distance","group":"Depth","order":1,"x":117.5,"y":76.60000610351562,"wires":[["96b3d904.9adce8","b7ac0abb.d68af8"]]},{"id":"b7ac0abb.d68af8","type":"function","z":"c7c5c86e.8e31a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":328.1000152587891,"y":159,"wires":[["8fc89c6d.0a1fd","c91e2ab.0fef4d8"]]},{"id":"793b9c75.4fce74","type":"ui_button","z":"5c3f3236.84b3ec","tab":"75e46010.5a2d3","name":"Light 1 On","payload":"N","topic":"On","group":"LAB Light","order":1,"x":170.50001525878906,"y":23,"wires":[["94f2df39.6a32"]]},{"id":"f06e01ac.c69ad","type":"ui_button","z":"5c3f3236.84b3ec","tab":"75e46010.5a2d3","name":"Light 1 Off","payload":"F","topic":"On","group":"LAB Light","order":1,"x":172.1999969482422,"y":169.1999969482422,"wires":[["94f2df39.6a32"]]},{"id":"6a70c1df.bd54d","type":"ui_button","z":"5c3f3236.84b3ec","tab":"75e46010.5a2d3","name":"Light 2 On","payload":"N","topic":"On","group":"LAB Light","order":1,"x":138.1999969482422,"y":275.2000274658203,"wires":[["f181f12a.a1b1b"]]},{"id":"9986133d.6e6f","type":"ui_button","z":"5c3f3236.84b3ec","tab":"75e46010.5a2d3","name":"Light 2 Off","payload":"F","topic":"On","group":"LAB Light","order":1,"x":164.1999969482422,"y":456.20001220703125,"wires":[["f181f12a.a1b1b"]]},{"id":"3e34e780.c37f78","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn On At","group":"Light 1","order":1,"format":"<h3>Turn On At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":82.14285278320312,"y":61.371416091918945,"wires":[[]]},{"id":"e7a56ac1.784da8","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn Off At","group":"Light 1","order":"4","format":"<h3>Turn Off At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":80.71428680419922,"y":216.91428756713867,"wires":[[]]},{"id":"139361b4.6928ae","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light On Now","payload":"","topic":"Light 1 On Now","group":"Light 1","order":"10","x":153.35714721679688,"y":361.11430740356445,"wires":[[]]},{"id":"11de7998.4e9b66","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light Off Now","payload":"","topic":"Turn Light Off Now","group":"Light 1","order":"11","x":157.35714721679688,"y":397.1143379211426,"wires":[[]]},{"id":"efcd8700.22ff88","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn On At","group":"Light 2","order":1,"format":"<h3>Turn On At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":538.2000122070312,"y":22.199996948242188,"wires":[[]]},{"id":"3acf632f.71c58c","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn Off At","group":"Light 2","order":"4","format":"<h3>Turn Off At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":563.485710144043,"y":197.05713844299316,"wires":[[]]},{"id":"ea6f49cb.856d18","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light On Now","payload":"","topic":"Light On Now","group":"Light 2","order":"10","x":718.4857177734375,"y":355.91427516937256,"wires":[[]]},{"id":"93f5da4f.839a88","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light Off Now","payload":"","topic":"Turn Light Off Now","group":"Light 2","order":"11","x":722.4857177734375,"y":391.9143056869507,"wires":[[]]},{"id":"67ad6b8b.8c2df4","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn On At","group":"Light 3","order":1,"format":"<h3>Turn On At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":94.71427917480469,"y":486.4856986999512,"wires":[[]]},{"id":"7eeba89c.1f59c8","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn Off At","group":"Light 3","order":"4","format":"<h3>Turn Off At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":103.5714340209961,"y":648.7714738845825,"wires":[[]]},{"id":"19429003.a9098","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light On Now","payload":"","topic":"Light On Now","group":"Light 3","order":"7","x":149.91429138183594,"y":790.2000312805176,"wires":[[]]},{"id":"7cbc4fc1.07c19","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light Off Now","payload":"","topic":"Turn Light Off Now","group":"Light 3","order":"8","x":141.91429138183594,"y":828.2000465393066,"wires":[[]]},{"id":"ff98aac9.084ef8","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn On At","group":"Light 4","order":1,"format":"<h3>Turn On At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":754.6286201477051,"y":478.1999967098236,"wires":[[]]},{"id":"76bfce24.da03a","type":"ui_template","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Turn Off At","group":"Light 4","order":"4","format":"<h3>Turn Off At</h3>\n<hr>","storeOutMessages":true,"fwdInMessages":true,"x":749.48583984375,"y":636.4857728481293,"wires":[[]]},{"id":"cd07b29a.623cc","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light On Now","payload":"","topic":"Light On Now","group":"Light 4","order":"7","x":778.7714996337891,"y":776.4857380390167,"wires":[[]]},{"id":"fd3c12d0.631e5","type":"ui_button","z":"5171000b.b591a","tab":"86bcbc03.88b9b","name":"Light Off Now","payload":"","topic":"Turn Light Off Now","group":"Light 4","order":"8","x":770.7714996337891,"y":814.4857532978058,"wires":[[]]},{"id":"7e8cb10f.68dfd","type":"http request","z":"cf00bd5d.2374","name":"send to web","method":"use","ret":"obj","url":"","tls":"","x":1031.71435546875,"y":234.57142639160156,"wires":[["e331bd72.a7efb"]]},{"id":"a6cb560d.efcbe8","type":"function","z":"cf00bd5d.2374","name":"Build Command for Photon LAB2","func":"msg.url = \"https://api.particle.io/v1/devices/28005c000e51353338363333/led?access_token=aee33a86ac53c706be04fd028e68302344882205\";\nmsg.method = \"POST\";\nmsg.payload={\"arg\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":777.4286270141602,"y":234.57133960723877,"wires":[["7e8cb10f.68dfd"]]},{"id":"c1041627.7bcc88","type":"inject","z":"cf00bd5d.2374","name":"Current Time","topic":"Current Time","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":123.42857360839844,"y":60.142852783203125,"wires":[["db9dedc1.cfd9d"]]},{"id":"db9dedc1.cfd9d","type":"function","z":"cf00bd5d.2374","name":"Convert Time To Milliseconds Today in CST","func":"millisecondsinday = 24*60*60*1000;\nCSTtimedelta = 5 *60*60*1000;\nTodayMilliseconds = msg.payload%millisecondsinday-CSTtimedelta;\nif(TodayMilliseconds<0){\n    TodayMilliseconds = TodayMilliseconds + millisecondsinday;\n}\nmsg.payload=TodayMilliseconds\nreturn msg;","outputs":1,"noerr":0,"x":407.7285919189453,"y":58.71428680419922,"wires":[["f2ceb8b7.9d02c8","e99ee15d.37604","8a05910c.36aa2","a670aec1.83624","e331bd72.a7efb"]]},{"id":"f2ceb8b7.9d02c8","type":"function","z":"cf00bd5d.2374","name":"Check if Light 1 should be On","func":"currentHour = Math.floor(msg.payload/(1000*60*60));\ntimetodayinseconds = Math.floor( msg.payload/1000)\ntimetodayinmins = Math.floor(timetodayinseconds/60);\ncurrentMin = timetodayinmins%60;\nvar globalContext = this.context.global;\n\n\nif((globalContext.StartHourGlobal1 < currentHour) && (globalContext.StopHourGlobal1 > currentHour)) {\n    node.warn(\"Turn Light 1 On\", currentHour, currentMin);\n    msg.payload = \"N:1\";\n}\nelse {\n   if( (globalContext.StartHourGlobal1 == currentHour)  && \n       (globalContext.StartMinGlobal1 <= currentMin) ) {\n           node.warn(\"Turn Light 1 On\", currentHour, currentMin);\n           msg.payload = \"N:1\";\n       }\n    else {\n        if( (globalContext.StopHourGlobal1 == currentHour)  && \n            (globalContext.StopMinGlobal1 > currentMin) ) {\n            node.warn(\"Turn Light 1 On\", currentHour, currentMin);\n            msg.payload = \"N:1\";\n        }    \n        else {\n            node.warn(\"Turn Light 1 Off\", currentHour, currentMin);\n            msg.payload = \"F:1\";\n        }\n    }\n    \n}\n\n   node.warn(\"Current time is \" + currentHour + \":\" + currentMin);\n   node.warn(\"TimeOn is \" + globalContext.StartHourGlobal1 + \":\" + globalContext.StartMinGlobal1);\n   node.warn(\"TimeOff is \" + globalContext.StopHourGlobal1 + \":\" + globalContext.StopMinGlobal1);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":282.14288330078125,"y":156.14286041259766,"wires":[["4aee9f86.4ae0c"]]},{"id":"4aee9f86.4ae0c","type":"rbe","z":"cf00bd5d.2374","name":"","func":"rbe","gap":"","start":"","inout":"out","x":506.50001525878906,"y":152.8000030517578,"wires":[["a6cb560d.efcbe8","e331bd72.a7efb"]]},{"id":"e331bd72.a7efb","type":"debug","z":"cf00bd5d.2374","name":"","active":true,"console":"false","complete":"false","x":789.5000152587891,"y":68.80000305175781,"wires":[]},{"id":"e99ee15d.37604","type":"function","z":"cf00bd5d.2374","name":"Check if Light 2 should be On","func":"currentHour = Math.floor(msg.payload/(1000*60*60));\ntimetodayinseconds = Math.floor( msg.payload/1000)\ntimetodayinmins = Math.floor(timetodayinseconds/60);\ncurrentMin = timetodayinmins%60;\nvar globalContext = this.context.global;\n\n\nif((globalContext.StartHourGlobal2 < currentHour) && (globalContext.StopHourGlobal2 > currentHour)) {\n    node.warn(\"Turn Light 2 On\", currentHour, currentMin);\n    msg.payload = \"N:2\";\n}\nelse {\n   if( (globalContext.StartHourGlobal2 == currentHour)  && \n       (globalContext.StartMinGlobal2 <= currentMin) ) {\n           node.warn(\"Turn Light 2 On\", currentHour, currentMin);\n           msg.payload = \"N:2\";\n       }\n    else {\n        if( (globalContext.StopHourGlobal1 == currentHour)  && \n            (globalContext.StopMinGlobal1 > currentMin) ) {\n            node.warn(\"Turn Light 2 On\", currentHour, currentMin);\n            msg.payload = \"N:2\";\n        }    \n        else {\n            node.warn(\"Turn Light 2 Off\", currentHour, currentMin);\n            msg.payload = \"F:2\";\n        }\n    }\n    \n}\n\n   node.warn(\"Current time is \" + currentHour + \":\" + currentMin);\n   node.warn(\"TimeOn is \" + globalContext.StartHourGlobal2 + \":\" + globalContext.StartMinGlobal2);\n   node.warn(\"TimeOff is \" + globalContext.StopHourGlobal2 + \":\" + globalContext.StopMinGlobal2);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280.20001220703125,"y":237.1999969482422,"wires":[["faa4e9ee.846c48"]]},{"id":"faa4e9ee.846c48","type":"rbe","z":"cf00bd5d.2374","name":"","func":"rbe","gap":"","start":"","inout":"out","x":504.55714416503906,"y":233.85713958740234,"wires":[["a6cb560d.efcbe8"]]},{"id":"8a05910c.36aa2","type":"function","z":"cf00bd5d.2374","name":"Check if Light 3 should be On","func":"currentHour = Math.floor(msg.payload/(1000*60*60));\ntimetodayinseconds = Math.floor( msg.payload/1000)\ntimetodayinmins = Math.floor(timetodayinseconds/60);\ncurrentMin = timetodayinmins%60;\nvar globalContext = this.context.global;\n\n\nif((globalContext.StartHourGlobal3 < currentHour) && (globalContext.StopHourGlobal3 > currentHour)) {\n    node.warn(\"Turn Light 3 On\", currentHour, currentMin);\n    msg.payload = \"N:3\";\n}\nelse {\n   if( (globalContext.StartHourGlobal3 == currentHour)  && \n       (globalContext.StartMinGlobal3 <= currentMin) ) {\n           node.warn(\"Turn Light 3 On\", currentHour, currentMin);\n           msg.payload = \"N:3\";\n       }\n    else {\n        if( (globalContext.StopHourGlobal3 == currentHour)  && \n            (globalContext.StopMinGlobal3 > currentMin) ) {\n            node.warn(\"Turn Light 3 On\", currentHour, currentMin);\n            msg.payload = \"N:3\";\n        }    \n        else {\n            node.warn(\"Turn Light 3 Off\", currentHour, currentMin);\n            msg.payload = \"F:3\";\n        }\n    }\n    \n}\n\n   node.warn(\"Current time is \" + currentHour + \":\" + currentMin);\n   node.warn(\"TimeOn is \" + globalContext.StartHourGlobal3 + \":\" + globalContext.StartMinGlobal3);\n   node.warn(\"TimeOff is \" + globalContext.StopHourGlobal3 + \":\" + globalContext.StopMinGlobal3);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":284.20001220703125,"y":322.20001220703125,"wires":[["d71751b1.1e34f"]]},{"id":"d71751b1.1e34f","type":"rbe","z":"cf00bd5d.2374","name":"","func":"rbe","gap":"","start":"","inout":"out","x":508.55714416503906,"y":318.8571548461914,"wires":[["a6cb560d.efcbe8"]]},{"id":"a670aec1.83624","type":"function","z":"cf00bd5d.2374","name":"Check if Light 4 should be On","func":"currentHour = Math.floor(msg.payload/(1000*60*60));\ntimetodayinseconds = Math.floor( msg.payload/1000)\ntimetodayinmins = Math.floor(timetodayinseconds/60);\ncurrentMin = timetodayinmins%60;\nvar globalContext = this.context.global;\n\n\nif((globalContext.StartHourGlobal4 < currentHour) && (globalContext.StopHourGlobal4 > currentHour)) {\n    node.warn(\"Turn Light 4 On\", currentHour, currentMin);\n    msg.payload = \"N:4\";\n}\nelse {\n   if( (globalContext.StartHourGlobal4 == currentHour)  && \n       (globalContext.StartMinGlobal4 <= currentMin) ) {\n           node.warn(\"Turn Light 4 On\", currentHour, currentMin);\n           msg.payload = \"N:4\";\n       }\n    else {\n        if( (globalContext.StopHourGlobal4 == currentHour)  && \n            (globalContext.StopMinGlobal4 > currentMin) ) {\n            node.warn(\"Turn Light 4 On\", currentHour, currentMin);\n            msg.payload = \"N:4\";\n        }    \n        else {\n            node.warn(\"Turn Light 4 Off\", currentHour, currentMin);\n            msg.payload = \"F:4\";\n        }\n    }\n    \n}\n\n   node.warn(\"Current time is \" + currentHour + \":\" + currentMin);\n   node.warn(\"TimeOn is \" + globalContext.StartHourGlobal4 + \":\" + globalContext.StartMinGlobal4);\n   node.warn(\"TimeOff is \" + globalContext.StopHourGlobal4 + \":\" + globalContext.StopMinGlobal4);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":289.20001220703125,"y":398.20001220703125,"wires":[["c44ccfed.bea96"]]},{"id":"c44ccfed.bea96","type":"rbe","z":"cf00bd5d.2374","name":"","func":"rbe","gap":"","start":"","inout":"out","x":513.5571441650391,"y":394.8571548461914,"wires":[["a6cb560d.efcbe8"]]},{"id":"caabc6ef.460208","type":"function","z":"5171000b.b591a","name":"MakeStartHourGlobal","func":"var globalContext = this.context.global;\nglobalContext.set(\"StartHourGlobal1\",8);  // this is now available to other nodes\nglobalContext.set(\"StartHourGlobal2\",8);  // this is now available to other nodes\nglobalContext.set(\"StartHourGlobal3\",8);  // this is now available to other nodes\nglobalContext.set(\"StartHourGlobal4\",8);  // this is now available to other nodes\nglobalContext.set(\"StartMinGlobal1\",1);  // this is now available to other nodes\nglobalContext.set(\"StartMinGlobal2\",1);  // this is now available to other nodes\nglobalContext.set(\"StartMinGlobal3\",1);  // this is now available to other nodes\nglobalContext.set(\"StartMinGlobal4\",1);  // this is now available to other nodes\n\nglobalContext.set(\"StopHourGlobal1\",8);  // this is now available to other nodes\nglobalContext.set(\"StopHourGlobal2\",8);  // this is now available to other nodes\nglobalContext.set(\"StopHourGlobal3\",8);  // this is now available to other nodes\nglobalContext.set(\"StopHourGlobal4\",8);  // this is now available to other nodes\nglobalContext.set(\"StopMinGlobal1\",2);  // this is now available to other nodes\nglobalContext.set(\"StopMinGlobal2\",2);  // this is now available to other nodes\nglobalContext.set(\"StopMinGlobal3\",2);  // this is now available to other nodes\nglobalContext.set(\"StopMinGlobal4\",2);  // this is now available to other nodes\n\nreturn msg;","outputs":1,"noerr":0,"x":324.2000427246094,"y":940.2000122070312,"wires":[[]]},{"id":"edebc365.ab9ed","type":"inject","z":"5171000b.b591a","name":"","topic":"Initialize Variables","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100.5,"y":946.7999877929688,"wires":[["caabc6ef.460208"]]}]
